.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 10rem 2rem 2rem;

  text-align: center;

  &-light {
    background-color: #c5c5c5;
    color: #686868;
  }

  &-dark {
    background-color: #707070;
    color: #ffffff;
  }
}

.header {
  position: fixed;
}

.header,
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px #686868;

  background-color: #383838;

  &__moon,
  &__moon {
    background-color: #242424;
    color: #fcfcfc;
  }

  &__sun,
  &__sun {
    background-color: #fcfcfc;
    color: #242424;
  }
}

.navbar {
  padding: 2rem;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    padding-right: 1rem;

    list-style: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: rgb(248, 62, 130);
    }
  }
}

.logo {
  padding: 2rem;

  color: rgb(248, 62, 130);
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    color: #793ec7;
  }
}

.btn {
  padding: 2rem;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.3s;

  &__sun {
    color: rgb(248, 236, 62);
  }

  &__moon {
    color: rgb(141, 74, 250);
  }
}
